@font-face {
    font-family: 'NanumGothic';
    src: url('fonts/NanumGothic-Regular.ttf');
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: white;
}
.table-cell {
    -fx-padding: 3 3 3 3;
    -fx-background-color: white;
    -fx-font-size: 14px;
    /*-fx-font-family: "NanumGothic";*/
    /*-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;*/
    /*-fx-text-fill: #d8d8d8;*/
    -fx-alignment: center-left;
}
.table-cell:selected {
    -fx-background-color: lightblue;
}
.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-border-color: white;
}
.table-row-cell{
    -fx-cell-size: 50px;
    /*-fx-border-color: #E0E0E0;*/
    /*-fx-border-width: 0.7 0 0 0;*/
}
.table-view .column-header .label {
    -fx-font-size: 20px;
    -fx-font-weight:normal;
    -fx-text-fill: #1BBED2;
    -fx-alignment: center-left;
}